In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point

# Load data
playground_gdf = gpd.read_file("playground.geojson")

In [2]:
playground_gdf.shape

(382, 48)

In [3]:
pd.set_option('display.max_columns', None)
#display all columns not truncated

In [4]:
playground_gdf.columns

Index(['id', '@id', 'access', 'addr:street', 'alt_name', 'architect',
       'barrier', 'description', 'dog', 'ele', 'fixme', 'gnis:feature_id',
       'height', 'landuse', 'layer', 'leisure', 'level', 'lit', 'max_age',
       'min_age', 'name', 'name:el', 'name:etymology:wikidata', 'name_alt',
       'note', 'nycdoitt:bin', 'old_name', 'opening_hours', 'operator',
       'operator:wikidata', 'operator:wikipedia', 'playground', '@relations',
       'playground:theme', 'ref', 'source', 'source:geometry', 'source_ref',
       'sport', 'start_date', 'surface', 'toilets:wheelchair', 'type',
       'website', 'website:alternate', 'wheelchair', 'wikidata', 'geometry'],
      dtype='object')

In [5]:
playground_gdf['name'].isnull().sum()

278

In [6]:
playground_gdf['name']=playground_gdf['name'].fillna('unknown')

In [7]:
playground_details=playground_gdf[['id','leisure','name','geometry']]

In [8]:
import geopandas as gpd
from shapely.geometry import Point
import requests

# Function for reverse geocoding
def reverse_geocode(lat, lng, api_key):
    geocode_url = "https://maps.googleapis.com/maps/api/geocode/json"
    params = {
        'latlng': f"{lat},{lng}",
        'key': api_key
    }
    response = requests.get(geocode_url, params=params)
    results = response.json()
    
    if results['status'] == 'OK':
        result = results['results'][0]
        formatted_address = result['formatted_address']
        return formatted_address
    else:
        raise Exception(f"Error in geocoding request: {results['status']}")

def update_unknown_park_names(gdf, api_key):

    gdf = gdf.to_crs(epsg=4326)
    
    for idx, row in gdf.iterrows():
        if row['name'].lower() == 'unknown':
            if row['geometry'].geom_type in ['Polygon', 'MultiPolygon','LineString']:
                centroid = row['geometry'].centroid
            elif row['geometry'].geom_type == 'Point':
                centroid = row['geometry']
            else:
                print(f"Unsupported geometry type at index {idx}: {row['geometry'].geom_type}")
                continue
            
            lat, lng = centroid.y, centroid.x
            
            
            if not (-90 <= lat <= 90 and -180 <= lng <= 180):
                print(f"Invalid coordinates for index {idx}: ({lat}, {lng})")
                continue
            
            try:
                name = reverse_geocode(lat, lng, api_key)
                gdf.at[idx, 'name'] = name
            except Exception as e:
                print(f"Failed to geocode for index {idx}: {e}")
    
    return gdf

# Example usage
api_key = 'AIzaSyAvr9o38Xk159Uh4BTvDkKrKLvO7t9VvxU' 


playground_details = update_unknown_park_names(playground_details, api_key)


print(playground_details[['geometry', 'name']].head())

                                            geometry  \
0  POLYGON ((-73.98244 40.72698, -73.98261 40.727...
1  POLYGON ((-74.01458 40.70199, -74.01460 40.701...
2  POLYGON ((-73.94480 40.76892, -73.94485 40.768...
3  POLYGON ((-73.94846 40.76484, -73.94835 40.764...
4  POLYGON ((-73.97786 40.76832, -73.97779 40.768...

                                           name
0         120 Avenue A, New York, NY 10009, USA
1                             Battery Playscape
2  888 Main St, Roosevelt Island, NY 10044, USA
3           8 River Rd, New York, NY 10044, USA
4                           Hecksher Playground

In [27]:
playground_details

,playground_id,leisure,name,geometry
0,1,playground,"120 Avenue A, New York, NY 10009, USA","POLYGON ((-73.98244 40.72698, -73.98261 40.727..."
1,2,playground,Battery Playscape,"POLYGON ((-74.01458 40.70199, -74.01460 40.701..."
2,3,playground,"888 Main St, Roosevelt Island, NY 10044, USA","POLYGON ((-73.94480 40.76892, -73.94485 40.768..."
3,4,playground,"8 River Rd, New York, NY 10044, USA","POLYGON ((-73.94846 40.76484, -73.94835 40.764..."
4,5,playground,Hecksher Playground,"POLYGON ((-73.97786 40.76832, -73.97779 40.768..."
...,...,...,...,...
377,378,playground,"68 Cabrini Blvd, New York, NY 10033, USA",POINT (-73.94083 40.85059)
378,379,playground,"51 Overlook Terrace, New York, NY 10033, USA",POINT (-73.93663 40.85370)
379,380,playground,"244 W 109th St #2d, New York, NY 10025, USA",POINT (-73.96656 40.80312)
380,381,playground,"234 W 109th St, New York, NY 10025, USA",POINT (-73.96580 40.80284)
381,382,playground,"243 W 64th St, New York, NY 10023, USA",POINT (-73.98693 40.77443)

In [10]:
playground_details.head()

,id,leisure,name,geometry
0,relation/14331634,playground,"120 Avenue A, New York, NY 10009, USA","POLYGON ((-73.98244 40.72698, -73.98261 40.727..."
1,relation/16029655,playground,Battery Playscape,"POLYGON ((-74.01458 40.70199, -74.01460 40.701..."
2,way/108295746,playground,"888 Main St, Roosevelt Island, NY 10044, USA","POLYGON ((-73.94480 40.76892, -73.94485 40.768..."
3,way/108296007,playground,"8 River Rd, New York, NY 10044, USA","POLYGON ((-73.94846 40.76484, -73.94835 40.764..."
4,way/128582381,playground,Hecksher Playground,"POLYGON ((-73.97786 40.76832, -73.97779 40.768..."

In [13]:
playground_details.drop('leisure',axis=1)

,id,name,geometry
0,relation/14331634,"120 Avenue A, New York, NY 10009, USA","POLYGON ((-73.98244 40.72698, -73.98261 40.727..."
1,relation/16029655,Battery Playscape,"POLYGON ((-74.01458 40.70199, -74.01460 40.701..."
2,way/108295746,"888 Main St, Roosevelt Island, NY 10044, USA","POLYGON ((-73.94480 40.76892, -73.94485 40.768..."
3,way/108296007,"8 River Rd, New York, NY 10044, USA","POLYGON ((-73.94846 40.76484, -73.94835 40.764..."
4,way/128582381,Hecksher Playground,"POLYGON ((-73.97786 40.76832, -73.97779 40.768..."
...,...,...,...
377,node/10823061568,"68 Cabrini Blvd, New York, NY 10033, USA",POINT (-73.94083 40.85059)
378,node/10846058078,"51 Overlook Terrace, New York, NY 10033, USA",POINT (-73.93663 40.85370)
379,node/11554790050,"244 W 109th St #2d, New York, NY 10025, USA",POINT (-73.96656 40.80312)
380,node/11554790051,"234 W 109th St, New York, NY 10025, USA",POINT (-73.96580 40.80284)
381,node/11924825037,"243 W 64th St, New York, NY 10023, USA",POINT (-73.98693 40.77443)

In [14]:
playground_details.rename(columns={'id':'playground_id'},inplace=True)

In [16]:
playground_details= playground_details.reset_index()

In [19]:
playground_details.columns

Index(['index', 'playground_id', 'leisure', 'name', 'geometry'], dtype='object')

In [21]:
playground_details['playground_id']= playground_details.index +1

In [25]:
playground_details= playground_details.drop('index',axis=1)

In [26]:
playground_details

,playground_id,leisure,name,geometry
0,1,playground,"120 Avenue A, New York, NY 10009, USA","POLYGON ((-73.98244 40.72698, -73.98261 40.727..."
1,2,playground,Battery Playscape,"POLYGON ((-74.01458 40.70199, -74.01460 40.701..."
2,3,playground,"888 Main St, Roosevelt Island, NY 10044, USA","POLYGON ((-73.94480 40.76892, -73.94485 40.768..."
3,4,playground,"8 River Rd, New York, NY 10044, USA","POLYGON ((-73.94846 40.76484, -73.94835 40.764..."
4,5,playground,Hecksher Playground,"POLYGON ((-73.97786 40.76832, -73.97779 40.768..."
...,...,...,...,...
377,378,playground,"68 Cabrini Blvd, New York, NY 10033, USA",POINT (-73.94083 40.85059)
378,379,playground,"51 Overlook Terrace, New York, NY 10033, USA",POINT (-73.93663 40.85370)
379,380,playground,"244 W 109th St #2d, New York, NY 10025, USA",POINT (-73.96656 40.80312)
380,381,playground,"234 W 109th St, New York, NY 10025, USA",POINT (-73.96580 40.80284)
381,382,playground,"243 W 64th St, New York, NY 10023, USA",POINT (-73.98693 40.77443)

In [28]:
playground_details= playground_details.drop('leisure',axis=1)

In [29]:
playground_details.isnull().sum()

playground_id    0
name             0
geometry         0
dtype: int64

In [30]:
playground_details.to_file('playground_details.geojson',driver='GeoJSON')