In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('parks_busyness_weather.csv')

C:\Users\Justh\AppData\Local\Temp\ipykernel_7684\956686395.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('parks_busyness_weather.csv')

In [3]:
df.head()

,park_id,park_name,park_area,year,month,day,hour,day_of_week,weekend,season,...,taxi_zone_ids,taxi_zones,geometry,datetime,dt_iso,temp,temp_min,temp_max,rain_1h,rain_3h
0,PK101,Inwood Hill Park,784904.717278,2022,1,1,11,5,1,4,...,243,Washington Heights North,"POLYGON ((-73.9320015 40.86963009999998, -73.9...",2022-01-01 11:00:00,2022-01-01 11:00:00,10.21,9.22,11.00,0.25,0.0
1,PK101,Inwood Hill Park,784904.717278,2022,1,1,17,5,1,4,...,243,Washington Heights North,"POLYGON ((-73.9320015 40.86963009999998, -73.9...",2022-01-01 17:00:00,2022-01-01 17:00:00,12.12,11.47,12.78,0.38,0.0
2,PK101,Inwood Hill Park,784904.717278,2022,1,1,19,5,1,4,...,243,Washington Heights North,"POLYGON ((-73.9320015 40.86963009999998, -73.9...",2022-01-01 19:00:00,2022-01-01 19:00:00,12.16,11.45,12.81,0.25,0.0
3,PK101,Inwood Hill Park,784904.717278,2022,1,10,12,0,0,4,...,243,Washington Heights North,"POLYGON ((-73.9320015 40.86963009999998, -73.9...",2022-01-10 12:00:00,2022-01-10 12:00:00,-1.61,-2.21,-0.78,0.00,0.0
4,PK101,Inwood Hill Park,784904.717278,2022,1,10,13,0,0,4,...,243,Washington Heights North,"POLYGON ((-73.9320015 40.86963009999998, -73.9...",2022-01-10 13:00:00,2022-01-10 13:00:00,-1.88,-3.21,-1.22,0.00,0.0