## Manhattan taxi zones

In [25]:
import pandas as pd
import geopandas as gpd

# Load data
taxi_zones_gdf = gpd.read_file("NYC_Taxi_Zones.geojson")

manhattan_taxi_zones_gdf = taxi_zones_gdf[taxi_zones_gdf['borough'] == 'Manhattan']
manhattan_taxi_zones_gdf.to_file('manhattan_taxi_zones.geojson', driver='GeoJSON')

manhattan_taxi_zones_df = pd.DataFrame(manhattan_taxi_zones_gdf)
manhattan_taxi_zones_df.to_csv('manhattan_taxi_zones.csv', index=False)

In [26]:
manhattan_taxi_zones_gdf.shape

(69, 7)

In [27]:
manhattan_taxi_zones_gdf.columns

Index(['shape_area', 'objectid', 'shape_leng', 'location_id', 'zone',
       'borough', 'geometry'],
      dtype='object')

In [28]:
manhattan_taxi_zones_gdf.dtypes

shape_area       object
objectid         object
shape_leng       object
location_id      object
zone             object
borough          object
geometry       geometry
dtype: object

In [29]:
#checking for duplicated rows
duplicate_rows = manhattan_taxi_zones_gdf[manhattan_taxi_zones_gdf.duplicated()]

#display duplicate rows
print("Duplicate Rows:")
print(duplicate_rows)

#Results: there are no duplicated rows

Duplicate Rows:
Empty GeoDataFrame
Columns: [shape_area, objectid, shape_leng, location_id, zone, borough, geometry]
Index: []

In [30]:
manhattan_taxi_zones_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 69 entries, 3 to 262
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   shape_area   69 non-null     object
 1   objectid     69 non-null     object
 2   shape_leng   69 non-null     object
 3   location_id  69 non-null     object
 4   zone         69 non-null     object
 5   borough      69 non-null     object
 6   geometry     69 non-null     geometry
dtypes: geometry(1), object(6)
memory usage: 4.3+ KB

In [31]:
manhattan_taxi_zones_gdf.isnull().sum()
#there are no null values

shape_area     0
objectid       0
shape_leng     0
location_id    0
zone           0
borough        0
geometry       0
dtype: int64

In [32]:
manhattan_taxi_zones_gdf.describe()

,shape_area,objectid,shape_leng,location_id,zone,borough,geometry
count,69,69,69,69,69,69,69
unique,69,69,69,67,67,1,69
top,0.000111871946192,4,0.0435665270921,103,Governor's Island/Ellis Island/Liberty Island,Manhattan,MULTIPOLYGON (((-73.97177410965318 40.72582128...
freq,1,1,1,3,3,69,1

In [33]:
import folium 
import matplotlib.pyplot as plt
import mapclassify

In [34]:
manhattan_taxi_zones_gdf["area"] = manhattan_taxi_zones_gdf.area
manhattan_taxi_zones_gdf["area"]

C:\Users\Justh\AppData\Local\Temp\ipykernel_10908\1798795256.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  manhattan_taxi_zones_gdf["area"] = manhattan_taxi_zones_gdf.area
c:\Users\Justh\anaconda3\envs\comp47360\Lib\site-packages\geopandas\geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

3      0.000079
9      0.000042
12     0.000011
13     0.000049
40     0.000143
         ...
246    0.000229
248    0.000127
251    0.000072
261    0.000034
262    0.000069
Name: area, Length: 69, dtype: float64